@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
background-color:LightSalmon;
}

Footer {
display:block;
position: fixed;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
opacity:0.9;
}

p{
  color:LightSalmon;
}

.container {
           background: url('https://cloud.githubusercontent.com/assets/5033756/6646206/aa711868-c990-11e4-8197-cfb126429732.jpg');
           padding: 60px 40px 20px;
